.body {
    background-color: rgb(233, 0, 97);
}


li a {
    display: flex;
    color: rgb(233, 0, 97);
    font-weight: bold;
    text-align: center;
    padding: 3px 9px;
    text-decoration: none;
    font-size: 20px;
    border-top: 2px solid rgb(233, 0, 97);
    border-right: 2px solid rgb(233, 0, 97);
    border-left: 2px solid rgb(233, 0, 97);
}

.nav_links{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: white;
    justify-content: space-around;
    padding-top: 5px;
}

li .active{
    background-color: rgb(233, 0, 97);
    color: white;
    text-transform: uppercase;
    text-decoration: none;
}

a.skip {
    background-color: rgb(233, 0, 97);
    color: white;
    font-family: 'Poppins', sans-serif; 
    font-weight: bold;
    text-decoration: none;
    font-size: 15px;
    padding: 4px;
    position: absolute;
    transform: translateY(-100%);
    padding-bottom: 10px;
}
  
.skip:focus {
    transform: translateY(0%);
}

h1{
    font-family: 'Poppins', sans-serif; 
    color: white;
    font-size: 24px;
    /* padding-top: 10px; */
    text-align: center;
    background-color: rgb(233, 0, 97);
}

p{
    font-family: 'Poppins', sans-serif; 
    color: white;
    font-size: 15px;
    padding-top: 10px;
}

.boldText a{
    text-decoration: none;
    font-weight: bolder;
}

.boldText a:hover, .boldText a:visited{
    text-decoration: none;
    color: white;
}

header{
    background: white;
    /* padding-top: 10px; */
    margin-bottom: 5%;
    font-family: 'Poppins', sans-serif; 
    color: black;
    text-align: center;
    font-size: 25px;
    font-weight: bolder;
}

/* @keyframes grow{
    from {width: 50% ;}
    to {width: 80% ;}
}

#logo-main{
    animation-name: grow;
    animation-duration: 3s;
}

@media screen and (prefers-reduced-motion: reduce){
    #logo-main{
        animation:none;
    }
} */

body, html {
    height: 100%;
}
  
/* .parallax {
    background-image: url("imgs/parallax.jpg");
  
    height: 25%;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    margin-bottom: 30px;
} */

/* @media screen and (max-width: 1080px){ */
main.about_me{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
    grid-row-gap: 15px;
    grid-column-gap: 10px;
    margin-bottom: 30px;
}

div#main {
    top: -100;
    /* grid-column: 1 / span 2; */
    grid-row: 1 / span 1;
    background-color:rgb(233, 0, 97);
    border-radius: 10px;
    margin: 0px 20px 0px 20px;
    /* overflow: scroll; */
}

p#about-text{
    font-size: 13px;
    padding: 10px 10px 10px 10px;
    text-align: left;
}

div.resume-link{
    top: -100;
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
    margin: 0px 0px 20px 30px;
    /* padding-top: 4px; */
}

/* a#resume-link{
    background-color:rgb(233, 0, 97);
    border-radius: 10px;
    font-size: 10px;
    color: white;
    font-family: 'Poppins', sans-serif;
    padding: 20px 20px 20px 20px;
    font-weight: bolder;
    text-decoration: none;
} */

div.linkedin-link{
    top: -100;
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
    margin: 0px 0px 10px 110px;
    /* padding-top: 30px; */
}

a#resume-link, a#linkedin-link{
    background-color:white;
    border-radius: 10px;
    font-size: 15px;
    color: rgb(233, 0, 97);
    border: 5px solid white;
    font-family: 'Poppins', sans-serif;
    /* padding: 10px 10px 10px 10px; */
    font-weight: bolder;
    text-decoration: none;
}

/* .form-container{
    grid-column: 1 / span 2;
    grid-row: 3 / span 1;
    padding: 0px 20px 20px 20px;

} */

a#resume-link:hover, a#linkedin-link:hover{
    opacity: 75%;
}

div.headshot-container{
    grid-row: 3 / span 1;
}

/* .headshot{
    border: solid 10px rgb(233, 0, 97); 
    border-radius: 10px;
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
} */

img.headshot{
    max-width: 55%;
    border: 5px solid white;
    border-radius: 10px;
    /* margin-top: 10px; */
    margin-left: 30px;
}

/* CONTACT FORM */
/* GENERAL APPEARANCE */
/* html, body, h1, form, fieldset.form, legend, ol, li {
	margin: 0;
    color: white;
	font-family: 'Poppins', sans-serif;
    font-size: 12px;
}

legend {
    text-align: center;
    font-size: 12px;
}

body {
	background: #ffffff;
	color: white;
	font-family: 'Poppins', sans-serif;
}

form{
	background: rgb(233, 0, 97);
	-moz-border-radius: 2%;
	-webkit-border-radius: 2%;
	border-radius: 2%;
	width: 100%;
    height: 100%;
    margin-bottom: 10px;
}

ol{
	list-style-type: none;
    padding-left: 5px;
    text-align: center;
}

form ol{
	background: rgb(233, 0, 97);
	background: rgb(233, 0, 97);
	border-style: solid;
	-moz-border-radius: 2%;
	-webkit-border-radius: 2%;
	border-radius: 10px;	
}

input#name, input#email, textarea#submission, button.submit-button, button.reset-button{
    text-align: center;
    border-radius: 10px;
} */


/* @media screen and (min-width: 600px){
    main.about_me{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(2, 16em);
        grid-row-gap: 15px;
        grid-column-gap: 10px;
        margin-bottom: 30px;
    }
    
    div#main {
        top: -100;
        grid-column: 1 / span 1;
        grid-row: 1 / span 1;
        background-color:rgb(233, 0, 97);
        border-radius: 10px;
        margin: 0px 10px 0px 10px;
        overflow: scroll;
    }
    
    p#about-text{
        font-size: 14px;
        /* padding: 10px 10px 10px 10px; */
        /* text-align: left;
    }
    
    div.resume-link{
        top: -100;
        grid-column: 2 / span 1;
        grid-row: 1 / span 1;
        margin: 40px 80px 10px 100px;
        /* padding-top: 4px; */
    /* }
    
    a#resume-link{
        background-color:rgb(233, 0, 97);
        border-radius: 10px;
        font-size: 20px;
        color: white;
        font-family: 'Poppins', sans-serif;
        padding: 10px 10px 10px 10px;
        font-weight: bolder;
        text-decoration: none;
    }
    
    div.linkedin-link{
        top: -100;
        grid-column: 2 / span 1;
        grid-row: 1 / span 1;
        margin: 90px 80px 10px 100px;
        padding-top: 30px;
    }
    
    a#linkedin-link{
        background-color:rgb(233, 0, 97);
        border-radius: 10px;
        font-size: 18px;
        color: white;
        font-family: 'Poppins', sans-serif;
        padding: 10px 10px 10px 10px;
        font-weight: bolder;
        text-decoration: none;
    }   */
    
    /* .form-container{
        grid-column: 1 / span 1;
        grid-row: 2 / span 1;
        padding: 0px 10px 0px 9px;
    }
     */
    /* div.headshot-container{
        grid-column: 2 / span 1;
        grid-row: 2 / span 1;
        padding-top: 5px;
        padding-left: 15%;

    }
    
    img.headshot{
        border: solid 10px rgb(233, 0, 97); 
        border-radius: 10px;
        max-width: 120%;
        max-height: 120%;
        width: auto;
        height: auto; 
    }*/

        /* CONTACT FORM */
    /* GENERAL APPEARANCE */
    /* html, body, h1, form, fieldset.form, legend, ol, li {
        margin: 0;
        padding-left: 3px;
        color: white;
        font-family: 'Poppins', sans-serif;
    }

    legend{
        font-size: 10px;
    }
    body {
        background: #ffffff;
        color: white;
        font-family: 'Poppins', sans-serif;
    }

    form{
        background: rgb(233, 0, 97);
        width: 100%;
        height: 100%;
    }

    ol{
        list-style-type: none;
    }

    form ol li {
        background: rgb(233, 0, 97);
        border-style: solid;
        -moz-border-radius: 2%;
        -webkit-border-radius: 2%;
        border-radius: 10px;	
        margin-bottom: .5%;
    }

    input#name, input#email, textarea#submission, .buttons{
        text-align: left;
        border-radius: 5px;
        font-size: 10px;
    }

    form#contact{
        width: 100%;
        height: 100%;
    }

    .buttons{
       text-align: center;
    }

    fieldset.buttons{
        padding-bottom: 10px;
    } 
}*/
@media screen and (min-width: 600px) and (max-width: 1000px){
    img.headshot{
        max-width: 30%;
        margin-top: 2.5%;
    }
}

@media screen and (min-width: 1000px){
    main.about_me{    
        /* uncomment to go back to original layout
        display: flex;
        flex-direction: column;
        align-items: center; */

        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(1, auto);
        grid-row-gap: 15px;
        grid-column-gap: 100px;

    }

    p#about-text{
        font-size: 14px;
        /* padding: 10px 10px 10px 10px; */
        text-align: left;
        /* padding: 20px 60px 10px 60px;     */
        padding-left: 27%;
        padding-right: 15%;
        line-height: 1.8em;
        /* grid-column: 1 / span 1;
        grid-row: 1 / span 1; */

    }
    div#main{
        /* overflow: hidden; */
        /* width: 70%; */
        grid-column: 1 / span 1;
        grid-row: 1 / span 2;
    }
    
    a#resume-link, a#linkedin-link{
        /* grid-column: 3 / span 1;
        grid-row: 2 / span 1; */
        color: rgb(233, 0, 97);
        font-family: 'Poppins', sans-serif; 
        background-color: white;
        padding: 10px 10px 10px 10px;
        /* margin: 20px 20px 20px 0px; */
        border-radius: 10px;
        /* font-size: 15px; */
        /* border: 2px solid black; */
        /* text-align: center; */
    }

    /* div.linkedin-link{
        margin: 300px 0px 0px 145px;
    }

    div.resume-link{
        margin: 300px 0px 0px 0px;
    } */

    div.resume-link{
        grid-column: 2 / span 1;
        grid-row: 1 / span 1;
        margin: 400px 0px 20px 100px;
        /* padding-top: 4px; */
        position: relative;
        z-index: 1;

    }
    
    div.linkedin-link{
        grid-column: 2 / span 1;
        grid-row: 1 / span 1;
        margin: 400px 0px 10px 200px;
        /* padding-top: 30px; */
        position: relative;
        z-index: 1;

    }
    
    .about-text{
        /* grid-column: 1 / span 2;
        grid-row: 1 / span 1;
        padding: 0px 4px 6px 12px;
        color: white; */
        color: white;
        background-color: rgb(233, 0, 97);
        padding: 4px 1px 1px 4px;
        margin: 0px 30px 0px 30px;
        text-align: center;
        padding: 10px 30px 10px 30px;
        border-radius: 10px;
        /*width: 100%;
        position: relative; */
    }

    /* div.linkedin-link, div.resume-link{
        grid-column: 2 / span 1;
        grid-row: 2 / span 1;
    } */
    
    div.headshot-container{
        /* uncomment to go back to original layout
        border: solid 30px rgb(233, 0, 97); 
        border-radius: 10px;
        padding: 0px 30px 30px 30px; 
        width: 40%;
        justify-content: center; */

        grid-column: 2 / span 1;
        grid-row: 1 / span 1;
        /* padding-top: 2%;
        margin-left: 27%; */
        position: relative;

    }

    img.headshot{
        max-width: 45%;
        margin-top: 2.5%;
        margin-left: 100px;
    }

        /* CONTACT FORM */
    /* GENERAL APPEARANCE */
    /* html, body, h1, form, fieldset, legend, ol, li {
        margin: 0;
        padding: 0;
        color: white;
        font-family: 'Poppins', sans-serif;
    }

    legend {
        text-align: center;
    }

    body {
        color: white;
        font-family: 'Poppins', sans-serif;
    }

    form{
        background: rgb(233, 0, 97);
        -moz-border-radius: 2%;
        -webkit-border-radius: 2%;
        border-radius: 2%;
        padding: 2%;
        width: 80%;
    }

    ol{
        list-style-type: none;
    }

    form ol li {
        background: rgb(233, 0, 97);
        background: rgb(233, 0, 97);
        border-style: solid;
        -moz-border-radius: 2%;
        -webkit-border-radius: 2%;
        border-radius: 10px;	
        margin-bottom: .5%;
    }

    .form-container{
        padding-bottom: 20px;
        width: 70%;
    }

    input#name, input#email, textarea#submission, .buttons{
        text-align: center;
        border-radius: 10px;
    } */

}

.container{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: repeat(8, auto);
    grid-row-gap: 15px;
}

.memo-one{
    top: -100;
    grid-column: 1 / span 3;
    grid-row: 2 / span 1;
    /* padding: 0px 4px 6px 12px;
    border: 2px solid black;
    background-color: rgba(233, 0, 97, 0.13); */
    color: white;
    background-color: rgb(233, 0, 97);
    padding: 4px 1px 1px 4px;
    margin: 0px 30px 0px 30px;
    text-align: left;
    padding: 10px 30px 10px 30px;
    border-radius: 10px;
}

.memo-two{
    top: -100;
    grid-column: 1 / span 3;
    grid-row: 3 / span 1;
    padding: 0px 4px 6px 12px;
    color: white;
    background-color: rgb(233, 0, 97);
    padding: 4px 1px 1px 4px;
    margin: 0px 30px 0px 30px;
    text-align: left;
    padding: 10px 30px 10px 30px;
    border-radius: 10px;
}

.memo-three{
    top: -100;
    grid-column: 1 / span 3;
    grid-row: 4 / span 1;
    padding: 0px 4px 6px 12px;
    color: white;
    background-color: rgb(233, 0, 97);
    padding: 4px 1px 1px 4px;
    margin: 0px 30px 0px 30px;
    text-align: left;
    padding: 10px 30px 10px 30px;
    border-radius: 10px;
}

.toni-morrison{
    top: -100;
    grid-column: 1 / span 3;
    grid-row: 5 / span 1;
    color: white;
    background-color: rgb(233, 0, 97);
    padding: 4px 1px 1px 4px;
    margin: 0px 30px 0px 30px;
    text-align: left;
    padding: 10px 30px 10px 30px;
    border-radius: 10px;
}

.white-paper{
    top: -100;
    grid-column: 1 / span 3;
    grid-row: 6 / span 1;
    color: white;
    background-color: rgb(233, 0, 97);
    padding: 4px 1px 1px 4px;
    margin: 0px 30px 0px 30px;
    text-align: left;
    padding: 10px 30px 10px 30px;
    border-radius: 10px;
}

a.academic-links{
    font-family: 'Poppins', sans-serif; 
    color: rgb(233, 0, 97);
    font-weight: bolder;
    font-size: 16px;
    text-decoration: none;
}

/* fieldset.academic-buttons{
    text-align: center;
} */

button{
    border-radius: 10px;
    border: none;
}

button:hover{
    filter: opacity(75%);
}

fieldset.academic-button1{
    padding-top: 15px;
    padding-bottom: 10px;
    text-align: center;
}

fieldset.academic-button2{
    padding-top: 15px;
    padding-bottom: 10px;
    text-align: center;
}

fieldset.academic-button3{
    padding-top: 15px;
    padding-bottom: 10px;
    text-align: center;
}

fieldset.academic-button4{
    padding-top: 5px;
    text-align: center;
}

fieldset.academic-button5{
    text-align: center;
}

@media screen and (min-width: 600px){
    .container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(3, 30em);
        grid-row-gap: 15px;
        margin-bottom: 30px;
    }
    
    .memo-one{
        top: -100;
        grid-column: 1 / span 1;
        grid-row: 1 / span 1;
        margin: 0px 8px 0px 30px;
        overflow: scroll;
    
    }
    .memo-two{
        top: -100;
        grid-column: 2 / span 1;
        grid-row: 1 / span 1;
        margin: 0px 30px 0px 8px;
        overflow: scroll; 
    }

    .memo-three{
        top: -100;
        grid-column: 1 / span 1;
        grid-row: 2 / span 1;
        margin: 0px 8px 0px 30px;
        overflow: scroll; 
    }

    .toni-morrison{
        top: -100;
        grid-column: 2 / span 1;
        grid-row: 2 / span 1;
        margin: 0px 30px 0px 8px;
        overflow: hidden; 
    }

    .white-paper{
        top: -100;
        grid-column: 1 / span 1;
        grid-row: 3 / span 1;
        margin: 0px 8px 0px 30px;
        overflow: hidden; 
    }

    fieldset.academic-button1{
        padding-top: 30px;
        text-align: center;
    }

    fieldset.academic-button2{
        padding-top: 30px;
        text-align: center;
    }

    fieldset.academic-button3{
        padding-top: 30px;
        text-align: center;
    }

    fieldset.academic-button4{
        padding-top: 100px;
        text-align: center;
    }

    fieldset.academic-button5{
        padding-top: 100px;
        text-align: center;
    }
}

@media screen and (min-width: 1080px){
    .container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(4, 16em);
        grid-row-gap: 15px;
        margin-bottom: 30px;
    }
    
    .memo-one{
        top: -100;
        grid-column: 1 / span 1;
        grid-row: 1 / span 2;
        margin: 0px 8px 0px 30px;
        overflow: hidden;
    }

    .memo-two{
        top: -100;
        grid-column: 2 / span 1;
        grid-row: 1 / span 2;
        margin: 0px 30px 0px 8px;
        overflow: hidden;
    }

    .memo-three{
        top: -100;
        grid-column: 1 / span 1;
        grid-row: 3 / span 2;
        margin: 0px 8px 0px 30px;
        overflow: hidden;
    }

    .toni-morrison{
        top: -100;
        grid-column: 2 / span 1;
        grid-row: 3 / span 1;
        margin: 0px 30px 0px 8px;
        overflow: hidden;
    }

    .white-paper{
        top: -100;
        grid-column: 2 / span 1;
        grid-row: 4 / span 1;
        margin: 0px 30px 0px 8px;
        overflow: hidden;
    }   

    fieldset.academic-button1{
        padding-top: 30px;
        text-align: center;
    }

    fieldset.academic-button2{
        padding-top: 30px;
        text-align: center;
    }

    fieldset.academic-button3{
        padding-top: 30px;
        text-align: center;
    }

    fieldset.academic-button4{
        padding-top: 5px;
        text-align: center;
    }

    fieldset.academic-button5{
        text-align: center;
    }
}

.shei-text, .work-text{
    color: white;
    background-color: rgb(233, 0, 97);
    padding: 4px 1px 1px 4px;
    margin: 0px 30px 0px 30px;
    text-align: center;
    padding: 10px 30px 10px 30px;
    border-radius: 10px;
}

.academic-text{
    color: rgb(233, 0, 97);
    background-color: white;
    padding: 4px 1px 1px 4px;
    margin: 0px 30px 0px 30px;
    text-align: center;
    padding: 10px 30px 10px 30px;
    border-radius: 10px;
}

h2 {
    font-family: 'Poppins', sans-serif; 
    color: white;
    font-weight: bolder;
    text-decoration: underline;
    font-size: 14px;
    padding-top: 10px;
    font-weight: bold;
}

.gallery a{
    font-family: 'Poppins', sans-serif;
    color: white;
    font-size: 15px;
    font-weight: bold;
}

#Digital_1, #Digital_2, #Digital_3, #MTB_1, #MTB_2, #Print_1, #Print_2, #Print_3 {
    box-shadow: 0px 0px 0px 5px black;
    transition: box-shadow 0.3s linear; 
    margin: 10px 10px 10px 10px;
    width: 200px;
}

#Digital_1:hover, #Digital_2:hover, #Digital_3:hover, #MTB_1:hover, #MTB_2:hover, #Print_1:hover, #Print_2:hover, #Print_3:hover{
    filter: opacity(50%);
    box-shadow: 0px 0px 0px 10px rgb(233, 0, 97);
}

.gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.blog{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, auto);
    grid-row-gap: 15px;
    margin: 0px 10px 0px 10px;   
}

a.blog-posts{
    font-size: 10px;
    text-decoration: none;
    color: black;
}

p.work-text{
    font-size: 10px;
    font-weight: bold;
}

div.post1, div.post2, div.post3, div.post4, div.post5, div.post6, div.post7, div.post8, div.post9{
    color: black;
    font-family: 'Poppins', sans-serif;
    font-size: 10px;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    border: 2px solid black;
}

@media screen and (min-width: 600px){
    p.work-text{
        font-size: 15px;
        font-weight: bold;
    }
    
    .blog{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(8, auto);
        grid-row-gap: 15px;   
        grid-column-gap: 5px;
        margin: 0px 10px 0px 10px; 
    }

    a.blog-posts{
        font-size: 12px;
        text-decoration: none;
        color: black;
    }
}

@media screen and (min-width: 1080px){
    p.work-text{
        font-size: 25px;
        font-weight: bold;
    }

    .blog{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: repeat(6, auto);
        grid-row-gap: 15px;   
        grid-column-gap: 5px; 
        margin: 0px 10px 0px 10px; 
    }

    a.blog-posts{
        font-size: 20px;
        text-decoration: none;
        color: black;
    }

    #post1, #post2, #post3, #post4, #post5, #post6, #post7, #post8, #post9{
        height: 75%;
        width: 100%;
    }

    div.post1{
        top: -100;
        grid-column: 1 / span 1;
        grid-row: 2 / span 1;
    }

    div.post2{
        top: -100;
        grid-column: 2 / span 1;
        grid-row: 2 / span 1;
    }

    div.post3{
        top: -100;
        grid-column: 3 / span 1;
        grid-row: 2 / span 1;
    }

    div.post4{
        top: -100;
        grid-column: 1 / span 1;
        grid-row: 3 / span 1;
    }

    div.post5{
        top: -100;
        grid-column: 2 / span 1;
        grid-row: 3 / span 1;
    }

    div.post6{
        top: -100;
        grid-column: 3 / span 1;
        grid-row: 3 / span 1;
    }

    div.post7{
        top: -100;
        grid-column: 1 / span 1;
        grid-row: 4 / span 1;
    }

    div.post8{
        top: -100;
        grid-column: 2 / span 1;
        grid-row: 4 / span 1;
    }

    div.post9{
        top: -100;
        grid-column: 3 / span 1;
        grid-row: 4 / span 1;
    }
}

footer {
    /* background-image: url("imgs/parallax.jpg"); */
    /* height: 2.5%; */
    border-top: 1px solid white;
/* 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
}

footer > p{
    /* margin-bottom: 30px; */
    /* padding-bottom: 10px; */
    font-family: 'Poppins', sans-serif; 
    color: white;
    font-size: 15px;
    text-align: center;
    /* border-top: 2px solid black; */
}

.flip-card {
  background-color: transparent;
  width: 300px;
  height: 310px;
  border: 5px solid black;
  perspective: 1000px; 
  margin-bottom: 20px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 1.0s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: white;
}

.flip-card-back {
  background-color: rgb(233, 0, 97);
  transform: rotateY(180deg);
  overflow: scroll;
}

.flip-instagram {
    color: white;
    font-size: 12px;
    font-weight: bold;
    text-align: left;
    padding: 20px 20px 20px 20px;
}


#flip-link:focus-within .flip-card-inner{
    transform: rotateY(180deg);
}

@media (prefers-reduced-motion) {
    .flip-card-inner {
        transition: none;
    }
}  

/* @media screen and (min-width: 600px){
    div.headshot-container{
        border: none;
        margin: 0px 30px 30px 30px; 
    }

    .headshot{
        position: relative;
        width: 50%;
        text-align: center;
        border: solid 20px rgb(233, 0, 97); 
        border-radius: 10px;
    }

    li, button{
        text-align: center;
    }

    input#name, input#email, textarea#submission{
        width: 80%;
        align-content: center;
        border-radius: 10px;

    }

} */